
<title>My Todos</title>
<h1 style="font-size:40px;color:red">Stuff I need to do.</h1>

<form action = "/todos" method = "post">
     <input style="border:2px solid black" type="text" name="description">
     <button>Add</button>
</form>

<ul>
   {{#todos}}
      <li> 
         <form action = "/todos/{{_id}}/completed" method = "post">
           {{description}} - {{done}}  <button type = "submit">Done</button>
         </form>
      </li>
   {{/todos}} 
</ul>

<h2 style="color:green">Done</h2>
<ul>
   {{#doneTodos}}
      <li> 
         <form action = "/todos/{{_id}}/completed" method = "post">
           {{description}} - {{done}}  <button type = "submit">Whoops!</button>
         </form>
      </li>
   {{/doneTodos}} 
</ul>


